body {
  background-color: #202355;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: yellow;
}
/* BUTTON */

#btn {
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}
